---
import { Image } from "astro:assets";
import Servicios from "@assets/LineasDeServicios.gif"
import ServicesBanner from "./services-banner.astro";
---


<section class="w-full h-auto py-6 flex items-center justify-center">
    <div class="w-1/2 flex flex-col items-center justify-center gap-y-2 p-3">
        <ServicesBanner />
    </div>
    <div class="w-1/2 p-3">
        <Image src={Servicios} alt={"Servicios de la empresa Desoft"} class="border border-sky-700/75"/>
    </div>
</section>